html, body {
    margin: 0;
    padding: 0;
}
.background {
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    background: #F1F6F9;
    width:100%;
    height:100%;
}

html { font-size: 22px; }

.video-container {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
}

.video-item{
    margin-bottom:20px;
    padding: 0 10px 0 10px;
}

video {
    border-radius: 10px;
    height: 100%;
}
