<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/home/style.css"/>
    <title>Together</title>
</head>

<body>
<div class="background"></div>
<div class="hello">
    <h1 style="font-weight: 700">Together</h1>
    <h4 style="font-weight: 400">Meet you with your friends in seconds!</h4><br>
    <input id="roomKey" placeholder="Code" style=" margin-right: 10px; width: 300px;"/>
    <button id="joinRoom" style="background: #F9C4B0;">JOIN ROOM</button><br>
    <h5 style="margin-top: 20px; margin-bottom: 20px">or</h5>
    <button id="createRoom" style="background: #1B346D;">CREATE ROOM</button>

</div>
<div class="info">
    <p>Open Source project, developed by Yunus Sandıkcı - <b href="https://www.github.com/yunussandikci">Github</b></p>
</div>
<script src="/home/home.js"></script>
</body>
</html>